body {
  background: yellow;
}

@media screen and (min-width: 769px) {
  body {
    background: url('./background-greenhills-large.jpg') no-repeat center center fixed;
    background-size: cover;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  body {
    background: url('./background-greenhills-medium.jpg') no-repeat center center fixed;
    background-size: cover;
  }
}

@media screen and (max-width: 480px) {
  body {
    background: url('./background-greenhills-small.jpg') no-repeat center center fixed;
    background-size: cover;
  }
}

h1 {
  color: red;
}